<launch>
  <node pkg="hongfu_bms_driver" type="hongfu_bms_status" name="hongfu_bms_status" output="screen">
    <param name="Port_bms" value="/dev/portlinkbms" type="string" />
    <param name="Hongfu_id" value="hongfu_bms" type="string" />
    <param name="Baudrate_bms" value="9600" type="int"/>
    <param name="Looprate_bms" value="1" type="int"/>
    <remap from="/hongfu_bms_status/hongfu_bms" to="/bms"/>
  </node>
</launch>